body{

margin: 0;
font-family: 'Raleway', sans-serif;
font-size: 15px;
line-height: 1.6;
color: #333;

}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
/* Container*/
.container {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}

/* Intro*/
.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background: url("img/intro_01.jpg") center
	no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	


}
.intro_inner{
	text-align: left;
	width: 100%;
	max-width: 1440px;
	max-height: 320px
	margin: 0 auto;
	background: url("img/video.jpg") right
	no-repeat;

}

.intro_title{
	font-size: 55px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	line-height: 1;

}

.intro_subtitle{
	font-size: 18px;
	color: #fff;
	margin-top: 30px;
	line-height: 2;
	text-align: left;

}

.buy{
	margin-top: 40px;
	display: inline-block;
	vertical-align: top;
	border: 2px solid #fff;
	padding: 10px 15px;
	color: #061e37;
	font-size: 15px;	
	text-decoration: none;
	background-color: #fff;
	transition: background 3s linear, color 3s linear;

}
.buy:hover{
	background-color: #061e37;
	color: #fff;
}

.try{
	margin-top: 40px;
	margin-left: 30px;
	display: inline-block;
	vertical-align: top;
	border: 2px solid #fff;
	padding: 10px 15px;
	color: #061e37;
	font-size: 15px;	
	text-decoration: none;
	background-color: #fff;
	transition: background 3s linear, color 3s linear;
}
.try:hover{
	background-color: #061e37;
	color: #fff;

}


/* Header*/
.header	{
	padding-top: 60px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;

}

.header_inner{

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_logo{
	background: url("img/logo.jpg")
	no-repeat;
	padding-left: 50px;
	font-size: 15px;
	font-weight: 700;
	color: #fff;

}




/* Nav*/
.nav {
	font-size: 15px;
	text-transform: uppercase;
	
}

.nav_link {
	display: inline-block;
	vertical-align: top;
	margin: 0 50px;
	color: #fff; 
	text-decoration: none;

	transition: color .2s linear;
}

.nav_link:hover {
	color: black;
}

.sign{
	border: 2px solid #fff;
	color: #fff;
	text-decoration: none;
 	padding: 5px 20px;
	
}


/*Section */
.section {
	padding: 100px 0;
	margin-bottom: 100px;
	text-align: center;

}

.section_header{
	width: 100%;
	max-width: 550px;
	margin: 0 auto 95px;
	text-align: center;
}

.section_title{
	font-size: 45px;
	font-weight: 600;
}

.section_subtitle{
	font-size: 25px;
	color: #b0bec5;
	font-weight: 500;
}

.section_text{
	font-size: 15px;
	color: #b0bec5;
}

/*Here*/
.here{
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.here_item{
	width: 100%;
	max-width: 350px;
}
.here_item:hover .here_img img{
	opacity: .7;

}

.here_img{
	margin-bottom: 50px;
}
.here_title{
	color: #78909c;
	margin-bottom: 20px;
	font-size: 20px;
	color: #000;
	font-weight: 600;
}
.here_text{
	color: #78909c;
	font-size: 15px;
	color: #b0bec5;
}

.start{
	display: inline-block;
	vertical-align: top;
	padding: 20px 30px;
	border: 1px solid;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #1de9b6;
	margin-top: 80px;
}

/* statistic*/
.statistic{
	background-color: #82b1ff;

}

.stat{
	display: flex;
	
}

.stat_item{
	flex: 1 1 0;
	border-left: 1px solid #fff;
	padding: 40px 50px;
	text-align: center;

}

.stat_text{
	font-size: 20px;
	color: #fff;
	padding-left: 30px;
}

.stat_img{
	display: flex;
}


/* services */

.services{
	text-align: center;

}

.services_title{
	font-size: 45px;
	font-weight: 600;
}

.test{
	color: #b0bec5;
	margin-bottom: 45px;
}

.service_head{
	padding-top: 100px;
}


/*accordion*/

.accord{
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}
.accord_item{
	border: 1px solid #eeeeee;
	margin-bottom: 20px;
}


.accord_header{
	
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}

.h_left{
	display: flex;

	max-height: 15px;

}
.treugolnik{
	position: absolute;
	top: 50%;
	right: 3%;
	z-index: 1;

}

.accord_h_title{
	text-transform: uppercase;
	font-weight: 600;
	padding-left: 20px;
	
}

.accord_h_logo{
	

}
.accord_content{
	display: flex;
	justify-content: space-between;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
	
}

.accord_c_text{
	color: #061e37;
	text-align: justify;
	padding-left: 30px;

}








/* About*/
.about{
	margin-top: 100px;
	width: 100%;
	background: url("img/about.jpg") center
	no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	
}


.about_main{
	display: flex;
	justify-content: space-between;
}

.left{
	padding-top: 130px;
}

.right{
padding-top: 90 px;
}


.about_title{
	font-size: 45px;
	color: #fff;
	line-height: 1;
	margin-bottom: 40px;

}
.about_subtitle{
	color: #fff;
	margin-bottom: 80px;
}

.about_btn{
	padding: 20px 25px;
	text-decoration: none;
	border: 1px solid #061e37;
	color: #fff;
	background-color: #061e37;
	text-transform: uppercase;
}


.comment{
	max-width: 650px;
	max-height: 160px;
	background-color: #fff;	
	padding: 20px 20px;
	
}

.comment_main1{
	padding-left: 110px; 
	position: relative;
	margin-bottom: 70px;
}

.comment_main{
	padding-left: 110px; 
	position: relative;
}


.right_up{
	text-align: center;
	padding-top: 40px;
	margin-bottom: 30px;
}

.right_down{
	text-align: center;
	padding-bottom: 40px;
	margin-top: 30px;
}

.avatar{
	position: absolute;
	top: 20%;
	left:0 ;
	z-index: 1;
}

.avatar2{
	position: absolute;
	top: 20%;
	left:0 ;
	z-index: 1;
}

.comment_title{
	font-size: 18px;
	color: #000;
	font-weight: 600;
}
.comment_text{
	color: #78909c;
	font-style: italic;
}



/*team*/

.team_main{
	padding-top: 100px;
	padding-bottom: 90px;
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	text-align: center;
}

.team_title{
	font-size: 45px;
	font-weight: 600;

}

.team_subtitle{
	color: #bbc7cd;
	margin-bottom: 80px;

}

.team_text_title{
	margin-top: 40px;
	font-size: 18px;
	font-weight: 700;
}

.team_text{
	color: #bbc7cd;
	margin-top: 10px;
	margin-bottom: 25px;

}



/*contact*/

.contact{
background-color: #fafafa;

}
.contact_main{
	
	padding-top: 50px;
	padding-bottom: 100px;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	text-align: center;

}

.contact_title{
	font-size: 45px;
	font-weight: 600;
	margin-bottom: 30px;

}

.contact_subtitle{
	margin-bottom: 50px;
}
.contact_1{
	display: flex;
	justify-content: space-between;
}

.contact_2{
	display: flex;
	justify-content: space-between;
}

.feedback{
	width: 280px;
}

textarea{
	width: 100%;
	height: 150px;
}

.subscribe{
	display: flex;
	justify-content: space-between;
	position: relative;
	
	

}

.send{
	padding: 10px 45px;
	background-color: #1de9b6;
	color: #fff;
	text-decoration: none;

}

/*finish*/

.finish{
	background-color: #061e37;
	padding-top: 90px;
	padding-bottom: 100px;
}

.finish_header{
	display: flex;
	justify-content: space-between;
	padding-left: 0;
}

.under{
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}

.spisok_link{
	text-decoration: none;
	color: #838f9b;
	margin-right: 30px;
}